.container {
  padding: 0 8.4rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 3rem;
  /* align-items: center; */
}

.about h2 {
  font-size: 3.5rem;
  font-weight: 600;
  background: #F7086C;
  background: linear-gradient(to right, #e16498 0%, #3788f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px 0;
  opacity: 0;
  animation: topSideAni 1s ease forwards;
}

.card__list {
  list-style: none;
  padding: 0;
}

.card__list li {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: btn-ani 1s ease forwards;
  animation-delay: 0.2s;
}



.about__experience-table {
  width: 100%;
  border-collapse: collapse;
}

.about__experience-table th,
.about__experience-table td {
  border: 1px solid #F7086C ;
  padding: 8px;
  text-align: left;
  animation: btn-ani 1s ease forwards;
}

.about__experience-table th {
  background-color: #f2f2f2;
}

.about__experience-table tbody tr {
  line-height: 1.7;
  font-size: 1.2rem;
  opacity: 0;
  animation: btn-ani 1s ease forwards;
  animation-delay: 0.2s;
}

@keyframes rightSideAni {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes topSideAni {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btn-ani {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}